<div class="modal modal-lg" tabindex="-1" id="modalLogin">
	<form action="/auth/login" method="post">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">Login</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body">
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">username</label>
						<input type="text" class="form-control" id="exampleFormControlInput1" name="username" placeholder="Masukkan username" required>
					</div>
					<div class="mb-3">
						<label for="exampleFormControlInput1" class="form-label">password</label>
						<input type="password" class="form-control" id="exampleFormControlInput1" name="password" placeholder="Masukkan username" required>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
					<button type="submit" class="btn btn-primary">Login</button>
				</div>
			</div>
		</div>
	</form>
</div>
